## Logistic Regression Exercise

**Part 1: Load and explore**

In [3]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf

1. Load the dataset and display the first few rows.

In [6]:
Movies = pd.read_csv('../data/movies.csv')
Movies.head()

,Title,Year,Vote_Average,Vote_Count,Budget,Revenue,TMDB_ID,Nominee,Winner,Genre_Action,...,Genre_History,Genre_Horror,Genre_Music,Genre_Mystery,Genre_Romance,Genre_Science Fiction,Genre_TV Movie,Genre_Thriller,Genre_War,Genre_Western
0,#Alive,2020,7.228,1956,6300000,13416285,614696,0,0,True,...,False,True,False,False,False,True,False,False,False,False
1,10 Cloverfield Lane,2016,6.994,8359,15000000,110216998,333371,0,0,False,...,False,True,False,False,False,True,False,True,False,False
2,12 Strong,2018,6.346,3097,35000000,67450815,429351,0,0,True,...,True,False,False,False,False,False,False,False,True,False
3,13 Hours: The Secret Soldiers of Benghazi,2016,7.269,3789,50000000,69411370,300671,0,0,True,...,True,False,False,False,False,False,False,True,True,False
4,1917,2019,8.000,13092,100000000,446064352,530915,1,0,True,...,True,False,False,False,False,False,False,False,True,False

2. How many movies in the dataset were nominated for Best Picture?

In [51]:
#Create variable to count the number of nominees and non-nominees 
Counts = Movies["Nominee"].value_counts()
Counts

Nominee
0    914
1     91
Name: count, dtype: int64

In [56]:
#From Counts variable create another string to separate movies nominated for best picture from those that were not.
Nominees = Counts.get(1)
Nominees 
#after checking your work then create an f'string to fully express what the number means
(f'The number of movies nominated for best picture is {Nominees}')
(f'{Nominees} movies were nominated for best picture')

'91 movies were nominated for best picture'

3. What percentage of movies were nominated?

In [57]:
Not_Nominees = Counts.get(0)
Not_Nominees
(f'{Not_Nominees} movies were NOT nominated for best picture')

'914 movies were NOT nominated for best picture'

In [59]:
Total_Noms = Not_Nominees + BP_Nominees
Total_Noms
Percentage_Nominated = BP_Nominees/Total_Noms
(f'{Percentage_Nominated: .0%} of movies were nominated')

' 9% of movies were nominated'

4. Compute the average revenue for:  
    * nominated movies  
    * non-nominated movies  
Does revenue look associated with nominations?

In [93]:
Movies_Rev = Movies.groupby("Nominee")["Revenue"].sum()
Movies_Nominated_Rev = Movies_Rev.get(1)
Movies_Not_Nom_Rev = Movies_Rev.get(0)
Avg_Nom_Rev = Movies_Nominated_Rev / Nominees
Avg_NomNon_Rev = Movies_Not_Nom_Rev / Not_Nominees
Movie_NonNom_dollars = f"${Avg_NomNon_Rev:,.2f}"
Movie_Nom_dollars = f"${Avg_Nom_Rev:,.2f}"
(f'The average revenue for all nomominated movies is {Movie_Nom_dollars} while the average revenue for movies that were not nominated is {Movie_NonNom_dollars}')

'The average revenue for all nomominated movies is $232,573,777.25 while the average revenue for movies that were not nominated is $189,624,332.38'

In [92]:
Movies_Not_Nom_Rev

np.int64(173316639799)

**Part 2: Logistic Regression: Revenue Only**

5. Fit a logistic regression model for whether a movie was nominated based on its revenue.

6. Interpret the sign of the coefficient for Revenue.

7. Use the model to estimate the probability of nomination for a movie with $10M revenue, $100M revenue, and $500M revenue.

8. Make a plot of predicted probability vs. revenue.

**Part 3: Add Genre**

9. Fit a model for whether a movie was nominated based on its revenue and whether or not it is a drama.

10. Interpret the coefficient for Genre_Drama.

                          
11. Using your final model, compute the predicted probabilities of nominations for:  
    * $20M non-drama
    * $20M drama
    * $300M non-drama
    * $300M drama

12. Which variable has the larger effect: being a drama or revenue?